@page "/"

<PageTitle>Index</PageTitle>

<Title>Welke actie wil je uitvoeren?</Title>

<a href="/settings" class="btn btn-lg btn-secondary d-block mb-2"><span class="oi oi-cog"></span> Settings aanpassen</a>

<a href="/day" class="btn btn-lg btn-primary d-block mb-2"><span class="oi oi-eye"></span> Dag bekijken</a>

<a href="/set-presense" class="btn btn-lg btn-success d-block mb-2"><span class="oi oi-check"></span> Aanwezigheid beheren</a>