@page "/auth"


<h3>Auth</h3>

@code {



    async Task Login()
    {
        Claim usernameClaim = new(ClaimTypes.Name, "Sander");
        Claim idClaim = new(ClaimTypes.Sid, Guid.NewGuid().ToString());

        ClaimsIdentity myIdentity = new(
            new[]
            {
                usernameClaim,
                idClaim,
            }
        );

        ClaimsPrincipal whoAmI = new(myIdentity);

        
    }

}
